#div1 {
    position: relative;
    width: 1920px;
    height: 1080px;
    background-image: url('img/chad.png');
}
#div2 {
    position: absolute;
    width: 1920px;
    height: 1080px;
    background: #000000;
}
#student {
    position: absolute;
    left: 28.49%;
    right: 28.54%;
    top: 37.87%;
    bottom: 37.96%;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 216px;
    line-height: 261px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
}
#email {
    position: absolute;
    width: 1262px;
    height: 131px;
 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 108px;
    line-height: 131px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FF00FF;
}