html, body, div {
  margin: 0;
  padding: 0;
}
div {
  position: relative;
  width: 100%;
  height: 1080px;
  display: grid;
  place-items: center;
}
.t1 {
  font-family: 'Arial';
  font-size: 216px;
  color: #000000;
}
.t2 {
  font-family: 'Arial';
  font-size: 108px;
  color: #FF00FF;
}
.d1 {
background-image: url(img/img.png)
}
.d2 {
background-color: #000000;
}
